@charset "UTF-8";

/* ーーーログイン画面ーーー */
.page-subtitle {
    text-align: center;
    font-size: 25px;
}


.login-desplay{
	display: flex;
	flex-direction: row;
	gap: 50px;
	align-items: center;
	margin-bottom: 20px;
}

.login-center{
	display: flex;
	justify-content: center;
}

.login-row{
	text-align:left;
}


/* ----アポイントメントメニュー画面 */
/* タイトル */
.page-title {
    text-align: center;
    color: #009A37;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* メニューを左右で配置 */
.apo-menu, .apo-menu-staff {
    max-width: 550px;
    margin: 0 auto;
    display: grid;
    gap: 50px 30px;
    grid-template-columns: repeat(2, 1fr);
}

/* 各メニュー */
.menu-item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.menu-item img {
    width: 60px;
    height: 60px;
    margin: 0px;
}

.menu-item span {
    font-size: 20px;
    color: #333;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background:rgba(0, 0, 0, 0);
  color: rgb(128, 128, 128);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 13px !important;
  white-space: nowrap;
  margin-bottom: 5px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  
  
}

.tooltip:hover .tooltip-text {
  opacity: 1;
}


