@charset "UTF-8";
/* リスト形式の時の列名の文字サイズは15px,データは18px
それ以外は基本的に18px,大きめの文字は20px,項目名等小さい文字は15px*/

/* ----企業一覧画面----- */
/* 検索ボックス */
/* .search{
    width: 80%;     
    margin: 0 auto;  
    display: flex;
    gap: 10px;
} */

.search {
    display: flex;
	align-items: center;
    gap: 15px;
}

.search-box {
    width: 250px;
    height: 40px;
    font-size: 15px;
    padding: 0px 10px;
    border: 2px solid #009A37;
	box-sizing: border-box;
}

.search-button {
    width: 80px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: #009A37;
    border: none;
	box-sizing: border-box;
}

/* 企業テーブル */
.held {
    color: red;
}

/* 列幅の指定 */
.company-h:nth-child(1),
.company-table td:nth-child(1) {
    width: 35%;
}

/* 企業名 */
.company-h:nth-child(2),
.company-table td:nth-child(2) {
    width: 15%;
}

/* 開催有無 */
.company-h:nth-child(3),
.company-table td:nth-child(3) {
    width: 15%;
}

/* 申請状況 */
.company-h:nth-child(4),
.company-table td:nth-child(4) {
    width: 20%;
}

/* 卒業生人数 */
.company-h:nth-child(5),
.company-table td:nth-child(5) {
    width: 15%;
}

/* ーーー詳細/申請画面ーーー */
/* .company,
.event {
    display: flex;
    gap: 30px;
    align-items: center;
} */

.company-name {
    font-size: 25px;
}

.request {
    color: red;
}

 .event-info{
    margin-top: 10px;
} 

.event-frex{
	display: flex;
	gap: 10px;
}

/* テーブル */
.gra-table {
    /* width: 80%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;   */
}

.gra-table tr {
    /* border-bottom: 1px solid #009A37;     */
}

.gra-table td {
    /* padding: 20px 0px;
    overflow-wrap: break-word;
    word-break: break-all; */
}

.gra-info {
    /* font-size: 18px; */
    /* height: 80px; */
}

/* 列幅の指定 */
.gra-table th:nth-child(1),
.gra-table td:nth-child(1) {
    width: 20%;
}

.gra-table th:nth-child(2),
.gra-table td:nth-child(2) {
    width: 50%;
}

.gra-table th:nth-child(3),
.gra-table td:nth-child(3) {
    width: 30%;
}

/* ーーー開催一覧画面ーーー */

/* ページからのメッセージ */
.page-msg {
    text-align: center;
    /* margin: 30px auto;
    font-size: 20px; */
    font-weight: normal;
}

/* 開催テーブル */
.event-table {
    /* width: 80%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;   */
}

.event-h {
    /* color: #009A37;
    font-size: 15px;
    padding: 10px;
    text-align: center; */
}

.event-table td {
    /* padding: 20px;
    text-align: center;
    font-size: 18px; */
}



/* ーーー開催詳細ーーー */

/* 詳細情報を右側に少しずらす */
.detail {
    /* margin-top: 50px; */
    /* margin-left: 10%; */
}

.detail-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 30px 0px;
}

.detail-company {
    font-size: 25px;
}

.detail-data {
    font-size: 20px;
    padding-right: 20px;
}

/* 参加・不参加ボタン */
.entry-btn .event-btn{
    display: flex;
    gap: 50px;
}

.eventdetail-table{
	margin: 0;
	width: auto;
}

.eventdetail-table tr{
	border-bottom: none;
}

/* ーーー参加一覧/履歴画面（生徒）ーーー */

/* 参加一覧、履歴 */
.join-history {
    width: 80%;
    margin: 0px auto;
}

.join-history-title {
    font-size: 20px;
    border-left: 2px solid #009A37;
    padding-left: 10px;
}

/* 列幅の指定 */
.join-history-table td:nth-child(1) {
    width: 60%;
    text-align: left;
}

.join-history-table td:nth-child(2),
.join-history-table td:nth-child(3) {
    width: 20%;
    text-align: center;
}

/* ーーー情報編集画面(職員）ーーー */
.company-edit {
    font-size: 15px;
}

.delate {
    color: red;
}

/* テーブル*/
.graduate-r {
    /* border-bottom: 1px solid #009A37; */
}

.graduate-table {
    /* width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 10px auto; */
}

.graduate-table td {
    /* padding: 0px 10px;
    text-align: center;
    font-size: 18px; */
}

.graduate-r {
    /* height: 20px; */
}

/* 列幅の指定 */
/* 卒業年次 */
.graduate-h:nth-child(1),
.graduate-table td:nth-child(1) {
    width: 7%;
}

/* 名前 */
.graduate-h:nth-child(2),
.graduate-table td:nth-child(2) {
    width: 15%;
}

/* 学科 */
.graduate-h:nth-child(3),
.graduate-table td:nth-child(3) {
    width: 20%;
}

/* 職種 */
.graduate-h:nth-child(4),
.graduate-table td:nth-child(4) {
    width: 20%;
}

/* メールアドレス */
.graduate-h:nth-child(5),
.graduate-table td:nth-child(5) {
    width: 30%;
}

/* 編集・削除 */
.graduate-h:nth-child(6),
.graduate-table td:nth-child(5) {
    width: 5%;
}

/* -----申請者一覧画面（職員）------*/
.request-top {
/*    display: flex;*/
/*    align-items: center;*/
    gap: 20px;
}

.errormsg{
	color: red;
}

/* 列幅の指定 */
/* 名前 */
.request-h:nth-child(1),
.request-table td:nth-child(1) {
    width: 20%;
}

/* 学科 */
.request-h:nth-child(2),
.request-table td:nth-child(2) {
    width: 30%;
}

/* 学籍番号 */
.request-h:nth-child(3),
.request-table td:nth-child(3) {
    width: 20%;
}

/* 時間 */
.request-h:nth-child(4),
.request-table td:nth-child(4) {
    width: 30%;
}

/* ----開催一覧/履歴（職員）----- */
.eventlist {
    /* width: 80%;
    margin: 30px auto; */
}

.eventlist-title {
    font-size: 20px;
    border-left: 2px solid #009A37;
    padding-left: 10px;
}

.event-cancel {
    color: red;
}

	
/* 列幅の指定 */
/* 企業名 */
.eventlist-h:nth-child(1),
.eventlist-table td:nth-child(1) {
    width: 30%;
}

/* 開催詳細リンク */
.eventlist-h:nth-child(2),
.eventlist-table td:nth-child(2) {
    width: 10%;
}

/* 開催状況 */
.eventlist-h:nth-child(3),
.eventlist-table td:nth-child(3) {
    width: 20%;
}

/* 参加人数 */
.eventlist-h:nth-child(4),
.eventlist-table td:nth-child(4) {
    width: 10%;
}

/* ーーー開催詳細画面（職員）ーーー*/
/* 生徒画面と同じcssを使用css*/
.white-btn{
	background-color: white;
	color: #009A37;
	font-weight: 500;
	border: 2px solid #009A37;
	box-sizing: border-box;
	height: 43px;
}

.btn-gap{
/*    display: flex;*/
    gap: 50px;
}

/*ーーー参加者一覧画面（職員）ーーー */
/* 列幅の指定 */
/* 名前 */
.joinlist-h:nth-child(1),
.joinlist-table td:nth-child(1) {
    width: 30%;
}

/*学科*/
.joinlist-h:nth-child(2),
.joinlist-table td:nth-child(2) {
    width: 40%;
}

/* 学籍番号 */
.joinlist-h:nth-child(3),
.joinlist-table td:nth-child(3) {
    width: 20%;
}

/* ーーー卒業生情報入力画面ーーー */
/* タイトル */
.leftscreen-title,
.rightscreen-title {
    font-size: 25px;
    padding-bottom: 30px;
    color: #009A37;
}

/* 注意書き */
.input-note {
    font-size: 11px;
    color: #666;
}

/* 入力欄の大きさ */
.registscreen-table input{
    height: 25px;
    width: 95%;
}

.student-number-input {
    width: 100px !important;
}

.job-input,.company-input,.department-input{
	width: 95%;
	font-size: 13px;
	padding: 6px 10px;
}

/* テーブル */
/* layout.cssで指定しているtrの緑下線を無効にする */
.registscreen-table tr {
    border-bottom: none;
}

/* ---企業登録画面・企業登録確認画面・企業名変更画面・企業名変更確認画面（職員）--- */
/* 基本的には卒業生情報入力画面と同じ */

/* フレームの大きさを変える */
.company-register-flame {
    width: 450px;
    height: 200px;
    background-color: #a9e2bd;
    border: 1px solid #009a36;
    border-radius: 6px;
    margin-top: 20px;
}
.bottom-btm-narrow{
    margin-right: 30px;
}

/* ---連絡先登録画面・連絡先登録確認画面（在校生/職員） */
/* 基本的には卒業生情報入力画面と同じ */
/* ボタンを横並びにする */
.edit-regist-btn {
    display: flex;
    gap: 50px;
}

/* ---連絡先登録完了画面（在校生/職員） */
/* 中央寄せや画像サイズはlayout.cssに書いたものを使用 */

.complete-msg {
    font-size: 25px;
    font-weight: bold;
}

/*　開催情報登録画面（職員）  */
/* 項目名とinputを並べる */
.registevent-row {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    gap: 20px;
    margin-bottom: 10px;
	align-items: center;
}

/* 1行に2つの項目・inputを並べる場合 */
.two-item-set {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    margin-bottom: 10px;
}

/* 入力欄の高さ*/
.registevent-input {
    padding: 5px 0px;
}

/* selectの高さと幅 */
.registevent-row select {
    padding: 5px 0px;
    width: 40%;
    border: 1px solid #009A37;
}

.registevent-layout {
    margin: 0;
}

.event-btn{
	font-size: 15px;
	color: white;
	background-color: #009A37;
	border: none;
	padding: 10px 20px;
}

/* テーブル */
/* selectの高さと幅 */
.registevent-table select {
    padding: 10px;
    width: 50%;
    border: 1px solid #009A37;
}

/* 列幅の指定 */
/* ラジオボタン */
.registevent-h:nth-child(1),
.registevent-table td:nth-child(1) {
    width: 5%;
}

/* 卒業年次 */
.registevent-h:nth-child(2),
.registevent-table td:nth-child(2) {
    width: 10%;
}

/* 名前 */
.registevent-h:nth-child(3),
.registevent-table td:nth-child(3) {
    width: 15%;
}

/*学科  */
.registevent-h:nth-child(4),
.registevent-table td:nth-child(4) {
    width: 25%;
}

/* 職種*/
.registevent-h:nth-child(5),
.registevent-table td:nth-child(5) {
    width: 25%;
}

/* 担当者*/
.registevent-h:nth-child(6),
.registevent-table td:nth-child(6) {
    width: 15%;
}

/* 開催相談  */
.registevent-h:nth-child(7),
.registevent-table td:nth-child(7) {
    width: 10%;
}


/* ---日程調整送信画面--- */
/* 項目名と内容を横並びにする */
.schedulearrange-row {
    display: grid;
    grid-template-columns: 80px 1fr 0.5fr;
    gap: 20px;
    margin-bottom: 20px;
}

/* 担当者のセレクトの大きさ */
.schedulearrange-row select {
    padding: 5px 0px;
    width: 40%;
    border: 1px solid #009A37;
}


.schedulearrange-button input{
    font-size: 15px;
    color: white;
    background-color: #009A37;
    border: none;
    padding: 10px 20px;
}
/* 入力欄の大きさ */
.schedulearrange-row textarea {
    padding: 5px 0px;
    border: 1px solid #009A37;
    border-radius: 4px;
}

.toname-toemail{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* ボタンの位置を左にずらす */
.schedulearrange-button button {
    margin-right: 20%;
}

/* 日程調整リンク中身（卒業生）*/

.graduateanswer-title {
    font-weight: normal;
    color: #009A37;
    text-align: center;
}

.graduateanswer-layout {
    padding-left: 30%;
}

.graduate-answer-flame {
    border: 1px solid #009A37;
    border-radius: 6px;
    width: 60%;
}

.graduate-answer-flame input{
    padding-top: 5px;
    margin-right: 20px;
}

.graduateanswer-layout .radio{
    margin-top: 10px;
    margin-bottom: 20px;
}


.schedulearrange-row{
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 日程回答確認画面（職員） */  
.answer-errormsg{
	text-align: center;
}

.schedule-check-r2, .schedule-check-r3{
    border-bottom: none;
}

/* 企業名 */
.schedule-check-h:nth-child(1),
.schedule-check-table td:nth-child(1) {
    width: 15%;
}

/* 名前 */
.schedule-check-h:nth-child(2),
.schedule-check-table td:nth-child(2) {
    width: 15%;
}

/* 回答*/
.schedule-check-h:nth-child(3),
.schedule-check-table td:nth-child(3) {
    width: 40%;
}

/* 決定ボタン*/
.schedule-check-h:nth-child(4),
.schedule-check-table td:nth-child(4) {
    width: 15%;
}

/* 拒否ボタン*/
/*.schedule-check-h:nth-child(5),*/
/*.schedule-check-table td:nth-child(5) {*/
/*    width: 10%;*/
/*}*/

.decision-button{
    font-size: 15px;
    color: white;
    background-color: #009A37;
    border: 2px solid #009A37;
    padding: 10px 20px;
	margin-bottom: 10px;
}

.cancel-button{
	font-size: 15px;
	color: #009A37;
	background-color: white;
	border: 2px solid #009A37;
	padding: 10px 20px;
}

/*ーーーー企業詳細（生徒）ーーーー*/
.detail-table{
	border-collapse: collapse;
	table-layout: fixed;
	width: auto;
	margin: 0;
}

.detail-table td{
	padding: 0 10px;
	text-align: left;
}

