main {
	width: 80%;
	margin: 0 auto;
	/* ← これで中央配置 */
	padding: 40px 0;
	/* 上下だけ余白 */
	font: 18px;
}

table {
	width: 100%;
	margin: 20px auto;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;
}

tr {
	border-bottom: 1px solid #009A37;
}

.noline {
	border-bottom: none !important;
}

th {
	font-size: 15px;
	color: #009A37;
	padding: 10px;
	text-align: center;
}

a {
	text-decoration: none;
	cursor: pointer;
}

[onclick] {
	cursor: pointer;
}

submit {
	cursor: pointer;
}

td {
	font-size: 18px;
	padding: 10px;
	text-align: center;
	overflow-wrap: break-word;
	word-break: break-all;
}

td a {
	text-decoration: none;
}

.field-name {
	color: #009A37;
	font-size: 15px;
}


.red-msg {
	color: red;
}


/* 画面上部「企業名　アイティフォー（申請済）開催情報　～」等の形式時使用 */
.top-info {
	display: flex;
	gap: 100px;
	align-items: center;
}

/* ページタイトル */
.page-title {
	text-align: center;
	color: #009A37;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 50px;
}

/* 上の形式時に企業名、情報を横並びにする*/
.company,
.event {
	display: flex;
	gap: 30px;
	align-items: center;
}

/* 企業名検索 */
.search {
	display: flex;
	gap: 15px;
}

.search-box {
	width: 250px;
	height: 30px;
	font-size: 15px;
	padding: 10px 10px;
	border: 2px solid #009A37;
}

.search-button {
	width: 80px;
	height: 30px;
	font-size: 15px;
	color: white;
	background-color: #009A37;
	border: none;
	padding: 0px 0px;
	cursor: pointer;
	transition: 0.2s;
}

.search-button :hover {
	opacity: 0.7;
}

/* ラジオボタンの色と大きさ */
input[type=radio] {
	accent-color: #009A37;
	inline-size: 18px;
	block-size: 18px;
}

/*	下中央寄せのボタン*/
.bottom-btn-center {
	text-align: center;
	padding-top: 30px;
}


/* 下右寄せのボタン */
.bottom-btn-right {
	display: flex;
	justify-content: flex-end;
	width: 90%;
	box-sizing: border-box;
	/* position: fixed; */
	bottom: 10%;
	margin-top: 10px;
}

/* 下左寄せのボタン */
.bottom-btn-left {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	box-sizing: border-box;
	/* position: fixed; */
	bottom: 10%;
	margin-top: 10px;
}

/* 下両端に分けるボタン */
.bottom-btn-split {
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	/* position: fixed; */
	bottom: 10%;
/*	margin-top: 10px;*/
	margin: 10px auto;
}

.bottom-btn-smallsplit {
	display: flex;
	justify-content: space-between;
	width: 80%;
	box-sizing: border-box;
	/* position: fixed; */
	bottom: 10%;
/*	margin-top: 10px;*/
	margin: 20px auto;
}

button {
	font-size: 15px;
	color: white;
	background-color: #009A37;
	border: none;
	padding: 10px 20px;
	box-sizing: border-box;
	height: 45px;
	cursor: pointer;
	transition: 0.2s;
}

button:hover {
	opacity: 0.7;
}


.submit-btn{
	font-size: 15px;
	color: white;
	background-color: #009A37;
	border: none;
	padding: 10px 20px;
	box-sizing: border-box;
	height: 45px;
	cursor: pointer;
	transition: 0.2s;
}

.submit-btn:hover {
	opacity: 0.7;
}


/* 画面を２分割するとき */
/* 2分割する */
.split-screen {
	display: flex;
	justify-content: center;
	gap: 100px;
	/* margin-top: 30px; */
	flex-wrap: wrap;
}

/* タイトルとフレームをセットにして左よせにする */
.left-screen,
.right-screen {
	align-items: left;
	padding-left: 20px;
}

.center-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 緑のフレーム */
.flame {
	width: 450px;
	height: 350px;
/*	background-color: #a9e2bd;*/
	border: 2px solid #009a36;
	border-radius: 3px;
	margin-top: 20px;
}

/* 登録系画面テーブル中身を左寄せする */
.registscreen-table td {
	text-align: left;
}

/* 列幅の指定 */
/*項目名*/
.registscreen-table td:nth-child(1) {
	width: 30%;
}

/*入力欄*/
.registscreen-table td:nth-child(2) {
	width: auto;
}


/* 登録完了画面系（メールを送りました！の画面） */
.complete-screen {
	text-align: center;
}

.complete-screen img {
	width: 50px;
	height: 50px;
}

input {
	border: 1px solid #009A37;
}

textarea {
	border: 1px solid #009A37;
}

.center-msg{
	text-align: center;
}